<button (click)="changeDisplay()">Show/Hide</button>
<app-counter-with-signal></app-counter-with-signal> 

@if(displayAllCounter) { 
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal>
    <app-counter-with-signal></app-counter-with-signal> 
}