<div [formGroup]="userForm" class="form-container">

    <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field >
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" type="phone">
    </mat-form-field>
    

    <div>Age:</div>
    <app-input-number formControlName="age"></app-input-number>
    <!-- <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="number">
    </mat-form-field> -->

    <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="close()">Close</button>
    <button mat-raised-button color="primary"  (click)="userForm.disable()">Disable</button>


    <pre>{{userForm.value|json}}</pre>
    

</div>