.user-list-container {
    padding: 20px;

    h3 {
        margin-bottom: 16px;
    }

    .user-table {
        width: 100%;
        margin-bottom: 20px;

        .mat-mdc-row {
            cursor: pointer;

            &.selected {
                background-color: rgba(0, 255, 170, 0.2);
                font-weight: bold;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }

        .mat-column-actions {
            width: 150px;
            text-align: center;
        }
    }
}